#main-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#Info {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 650px;
}

#Reviews {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 650px;
}

#Calendar {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 650px;
}

#Booking {
  width: 450px;
  position: fixed;
  padding-left: 50px;
}